In [1]:
import numpy as np
import igraph as ig
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm

from time import time

from common import *
from generate import *
from filter_kruskal import *

In [2]:
common.run(args="--help")

Allowed options:
  -h [ --help ]                      produce help message
  -m [ --mst-kernel ] arg (=1)       Kernel used calculating MST. 0 = regular
                                     kruskal, 1 = filter-kruskal
  -s [ --sort-kernel ] arg (=0)      Kernel used for sort() [int]
  -p [ --partition-kernel ] arg (=0) Kernel used for partition() [int]
  -f [ --filter-kernel ] arg (=0)    Kernel used for filter() [int]
  -i [ --inputfile ] arg             input file containing graph data. Filepath
                                     must be relative to Ex2/
  -t [ --ouputfile_timings ] arg     Output file for timings. Filepath must be
                                     relative to Ex2/

In [11]:
args = f"--inputfile input_data/barabasi_50000_10.csv --mst-kernel 0"
df = common.run_benchmark(common.OUT_DIR / "timing_results.csv", args=args, print_output=True)
df

Running benchmark with ./home/hiti/workspace/GPU_ArchComp/Ex2/build/src/ex2 --ouputfile_timings /home/hiti/workspace/GPU_ArchComp/Ex2/out/timing_results.csv --inputfile input_data/barabasi_50000_10.csv --mst-kernel 0
Loading /home/hiti/workspace/GPU_ArchComp/Ex2/input_data/barabasi_50000_10.csv

Benchmark results:
Initialize	µ=0.000233907s	sigma=0s	total=0.000233907	num_calls=1
Kruskal()	µ=13.0206s	sigma=0s	total=13.0206	num_calls=1
grow MST	µ=9.66572s	sigma=0s	total=9.66572	num_calls=1
sort_edgelist()	µ=3.35491s	sigma=0s	total=3.35491	num_calls=1
total	µ=13.0209s	sigma=0s	total=13.0209	num_calls=1

               tag    average  std_dev      total  num_calls
0       Initialize   0.000234        0   0.000234          1
1        Kruskal()  13.020600        0  13.020600          1
2         grow MST   9.665720        0   9.665720          1
3  sort_edgelist()   3.354910        0   3.354910          1
4            total  13.020900        0  13.020900          1

In [12]:
args = f"-i input_data/barabasi_50000_10.csv -m 1"
df = common.run_benchmark(common.OUT_DIR / "timing_results.csv",args=args, print_output=False)
df

Running benchmark with ./home/hiti/workspace/GPU_ArchComp/Ex2/build/src/ex2 --ouputfile_timings /home/hiti/workspace/GPU_ArchComp/Ex2/out/timing_results.csv -i input_data/barabasi_50000_10.csv -m 1

               tag    average   std_dev      total  num_calls
0       Initialize   0.000151  0.000000   0.000151          1
1        Kruskal()   0.108110  0.018981   2.594650         24
2         filter()   0.287755  0.107040   7.481640         26
3         grow MST   0.082280  0.018694   1.974720         24
4      partition()   0.000150  0.000042   0.003898         26
5  sort_edgelist()   0.025828  0.003121   0.619862         24
6            total  10.081000  0.000000  10.081000          1